$primary: #909090;
$primary-light: #dedede;
$primary-dark: #737373;

$accent: #ff0000;
$accent-light: #ffb3b3;
$accent-dark: #ff0000;

$warning: #ff0000;
$warning-light: #f0b3b3;
$warning-dark: #b90000;

$background-light: #ffffff;
$font-color-light: #000000;

$background-dark: #212121;
$font-color-dark: #ffffff;
