$mobile-breakpoint: "700px";

mat-card {
  width: 60%;

  @media screen and (max-width: $mobile-breakpoint) {
    width: 80%;
  }
}

.history-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  min-width: 400px;

  @media screen and (max-width: $mobile-breakpoint) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.download-date {
  margin: 0;
  font-weight: bold;
  font-size: 13px;
}

.hint {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  word-wrap: break-word;
  grid-column: span 2;
  span {
    mat-icon {
      font-size: 27px;
      width: 27px;
      height: 27px;
      vertical-align: middle;
    }
    font-size: 16px;
  }
}

.video-preview {
  width: 100%;
}
