<div [scrollOffsetPercentage]="80" (windowScrollOffset)="scrollOffsetHit()">
  <mat-card *ngFor="let audioHistory of audioHistory$ | async" class="history-grid">
    <app-video-preview [videoMetadata]="audioHistory.videoMetadata" class="video-preview"></app-video-preview>

    <div class="ml-auto">
      <p class="download-date">{{ audioHistory.createdOn | date: "dd/MM/yyyy HH:mm" }}</p>
    </div>
    <div class="hint">
      <span>
        <mat-icon>info_outline</mat-icon>
        When downloading this audio you've selected {{ audioHistory.bitrateInKilobytesPerSecond.toFixed() }} kbps
        bitrate</span
      >
    </div>
  </mat-card>

  <mat-card class="history-grid" *ngIf="audioHistoryLoading$ | async">
    <app-video-preview-skeleton-loader class="video-preview"></app-video-preview-skeleton-loader>
  </mat-card>
</div>
